body {
        background-color: #000000;
        color: #09ff00;
        margin: 0;
        overflow: hidden;
}


#notes {
    font-size: 10px;
    background-color: #000000;
    color: #ffffff;
    border-color: #09ff00;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 3px;
    right: 3px;
    overflow: hidden;
    resize: none;
}